% article
% Artigo de Revista Científica ou Periódico
% Obrigatórios: author, title, journal, year
% Opcionais: volume, number, pages, month, note
@article{joao1993,
    author  = "João da Silva e Silva",
    title   = "O título do trabalho",
    journal = "O nome da revista científica",
    year    = 1993,
    number  = 2,
    pages   = "201-213",
    month   = 7,
    note    = "Uma nota opcional para a bibliografia",
    volume  = 4,
}

% book
% Livro Publicado
% Obrigatórios: author/editor, title, publisher, year
% Opcionais: volume/number, series, address, edition, month, note
@book{babington1993,
    author    = "Peter Babington",
    editor    = "O nome completo do editor",
    title     = "O título do trabalho",
    publisher = "O nome da publicadora",
    year      = 1993,
    volume    = 4,
    number    = 4,
    series    = 10,
    address   = "O endereço da publicadora",
    edition   = 3,
    month     = 7,
    note      = "Uma nota opcional para a bibliografia",
    isbn      = "1234567890",
}

% booklet
% Obra sem Vínculo com Publicadora ou Patrocinador
% Obrigatórios: title
% Opcionais: author, howpublished, address, month, year, note
@booklet{caxton1993,
    title        = "O título do trabalho",
    author       = "Peter Caxton",
    howpublished = "Como este livro foi publicado",
    address      = "Endereço da publicadora",
    month        = 7,
    year         = 1993,
    note         = "Uma nota opcional para a bibligrafia",
}
