\documentclass{article}

\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[brazil]{babel}

\title{Título do Artigo de Teste para Vagrant}
\author{João da Silva e Silva}

\begin{document}

\maketitle{}

\end{document}
